*{
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Poppins-regular;
    src: url("../../fonts/Poppins-Regular.ttf");
}
body{ 
    padding: 0 200px;  
}
.nav-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: 1.2rem;
    color: grey;
    font-family: Poppins-regular;
    font-weight: 600;
}
.nav-link{
    text-decoration: none;
    color: inherit;
}
.list-item:not(:last-child){
    margin-right: 30px;
}
.navbar{
    padding: 30px 0;
    display: flex;
}
.portfolio{
    text-align: center;
    font-family: Poppins-regular;
    font-weight: 900;
}
.block-portfolio{
    display: flex;
    justify-content: center;
}
.line{
    width: 100%;
    background-color: rgb(231, 231, 231);
    height: 2px;
    border-radius: 1px;
    filter: drop-shadow(0 0 3px rgb(198, 197, 197));
    margin-bottom: 40px;
}
.header{
    text-align: center;
    font-family: Poppins-regular;
    margin-bottom: 40px;
}
.card{
    font-family: Poppins-regular;
    font-size: 1.2rem;
    border: 0;
}
.card-text, .card-image{
    width: 100%;
}
.card-text{
    margin-bottom: 50px;
}
.carousel{
    margin-bottom: 100px;
}
.also{
    font-family: Poppins-regular;
    margin-bottom: 10px;
}
.also-cards{
    width: 200px;
    background-color: rgb(242,242,242);
}
.also-links:not(:last-child){
    margin-right: 20px;
}
.also-name{
    display: flex;
    justify-content: center;
}
.also-business{
    font-family: Poppins-regular;
    padding-bottom: 15px;
}
.also-links{
    text-decoration: none;
    color: black;
}
.last-block{
    margin-bottom: 100px;
}
.the-end{
    font-family: Poppins-regular;
    font-weight: 700;
    margin-bottom: 50px;
}
.cards{
    display: flex;
}
.text{
    font-family: Poppins-regular;
    font-size: 1.2rem;
    margin-bottom: 50px;
}
.image-phone{
    width: 25%;
    border-radius: 10px;
}
.block-phones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}
.footer{
    padding: 0 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.buttons{
    height: 30px;
    width: 30px;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 25px;
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons:hover{
    background-color: grey;
}